<ion-view title="A Empresa" id="page6" style="background-color:#CBD6D6;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/tELByLASTua2mRtd2a5C_Sem título.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <img src="img/QRjvzG71RBmSQ1s8pjY1_etec.jpg" width="100%" height="70%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="aEmpresa-heading4" style="color:#000000;text-align:center;">Missão da Empresa</h2>
        <div id="aEmpresa-markdown3" style="color:#0E0C0C;font-size:16px;text-align:justify;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
    </ion-content>
</ion-view>