<ion-view title="Técnico em  Informática" id="page2" style="background-color:#0A3266;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/yM70fRNRfibuFYzIhmzM_curso.jpg" width="100%" height="95%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="tCnicoEmInformTica-heading7" style="color:#F6EEEE;text-align:center;">Quem é o Técnico em Informática</h4>
        <div id="tCnicoEmInformTica-markdown5" style="color:#F5F0F0;font-size:13px;text-align:justify;">
            <p>O
                <strong>TÉCNICO EM INFORMÁTICA</strong>é o profissional que desenvolve programas de computador, seguindo as especificações e paradigmas da lógica de programação e das linguagens de programação. Utiliza ambientes de desenvolvimento de sistemas,
                sistemas operacionais e banco de dados. Realiza testes de programas de computador, mantendo registros que possibilitem análises e refinamento dos resultados. Executa manutenção de programas de computadores implantados.</p>
        </div>
        <div>
            <a style="display:block;" ui-sref="menu.plataformaIonic">
                <img src="img/dT97OkRuwhaDyVctfFgj_untitled-1.jpg" width="56%" height="200%" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>